.img_accuil{
    width: 100%;
    height: 60%;
}
.liste_accuil{
    display: flex;
    justify-content: center;
}
.accuil_pre{
    width: 100%;
}
.accuil_ul li{
    color: #000;
font-family: Jacques Francois;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
padding: 5px;
margin-top: 20px;
}
.accuil_pre{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.accuil_pre_item{
    width: 25%;
}
.accuil_pre_item_img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.video_p{
    font-family: Jacques Francois;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    width: 30%;
}
.imgcarAcc{
    width: 100px;
    height: 400px;
}
@media screen and (max-width: 1024px) {
    .accuil_pre_item_img{
        width: 100px;
        height: 150px;
    }
}

@media screen and (max-width: 768px) {
    .accuil_pre_item_img{
        width: 60px;
        height: 100px;
    }
}